
*{border:0px; margin:0px; padding:0px; box-sizing: border-box; }
a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}


.s{clear: both; display:block;}
.imagen{max-width:100%; cursor: pointer;}

.navbar-collapse {padding:20px 20px 20px 20px;}

#root{background-color:#2B2B2B;}
div{ color:#CCCCCC;}
.modal-body, .modal-head, .modal-footer, .modal-title h4, .modal-content{background-color:#2B2B2B; font-family:Arial;  color:#CCCCCC; border:0px!important;}

body{background-color:#2B2B2B; font-family:Arial; height:20px; color:#CCCCCC;}

.descripcion{with:100%; padding:20px 0px 10px 0px;}
.movieIm{width: 100%; text-align: center;}


container, .flex-container{
  flex-wrap: wrap;
  display: flex;
  margin:0px auto;
  background-color: #2B2B2B;
}

.flex-item {
  width:300px;
  padding:20px 20px 20px 20px;
  background-color:#3C3F41;

}

.title{color:#CCC; font-size: 18px; font-weight: bolder; text-align: center; padding:10px 10px 10px 10px;
  background-color: #282c34;
}

.movie{float:left; padding:20px 20px 20px 20px; width:300px;}